[submodule "lib/amqpcpp"]
	path = lib/amqpcpp
	url = https://github.com/metricq/AMQP-CPP.git
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/nitro"]
	path = lib/nitro
	url = https://github.com/tud-zih-energy/nitro.git
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
