version: "3.7"
services:
  metricq-python:
    image: metricq-python
    build:
      context: .
      dockerfile: Dockerfile-python
    networks:
      - metricq-network

  metricq-manager:
    build:
      context: https://github.com/metricq/metricq-manager.git
    image: metricq-manager
    environment:
      wait_for_couchdb_url: "couchdb-server:5984"
      couchdb_url: "http://couchdb-server:5984"
      couchdb_user: "admin"
      couchdb_pw: "admin"
      wait_for_rabbitmq_url: "rabbitmq-server:5672"
      rpc_url: "amqp://admin:admin@rabbitmq-server/"
      data_url: "amqp://admin:admin@rabbitmq-server/"
    depends_on:
      - rabbitmq-server
      - couchdb-server
    networks:
      - metricq-network

  metricq-wizard-frontend:
    build:
      context: https://github.com/metricq/metricq-wizard-frontend.git
      args:
        - api_url=http://localhost:8000/api
    image: metricq-wizard-frontend
    depends_on:
      - metricq-wizard-backend
    ports:
      - "127.0.0.1:3000:3000"
    networks:
      - metricq-network

  metricq-wizard-backend:
    build:
      context: https://github.com/metricq/metricq-wizard-backend.git
    image: metricq-wizard-backend
    environment:
      COUCHDB_URL: "http://couchdb-server:5984"
      COUCHDB_USER: "admin"
      COUCHDB_PW: "admin"
      AMQP_SERVER: "amqp://admin:admin@rabbitmq-server/"
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - rabbitmq-server
      - couchdb-server
    networks:
      - metricq-network

  metricq-cxx:
    image: metricq-cxx
    build:
      context: .
      dockerfile: Dockerfile-cxx
    networks:
      - metricq-network

  rabbitmq-server:
    image: rabbitmq:management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "admin"
      RABBITMQ_DEFAULT_VHOST: "/"
    networks:
      - metricq-network
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"

  couchdb-server:
    image: couchdb:3
    environment:
      COUCHDB_USER: "admin"
      COUCHDB_PASSWORD: "admin"
    networks:
      - metricq-network
    ports:
      - "127.0.0.1:5984:5984"
    command: /opt/couchdb/bin/couchdb

  couchdb-setup:
    image: curlimages/curl:latest
    depends_on:
      - couchdb-server
    networks:
      - metricq-network
    command: "curl --retry-connrefused --retry 5 --retry-delay 10 -X POST -H \"Content-Type: application/json\" http://admin:admin@couchdb-server:5984/_cluster_setup -d '{\"action\": \"enable_single_node\", \"bind_address\":\"0.0.0.0\", \"username\": \"admin\", \"password\":\"admin\"}'"

networks:
  metricq-network:
    driver: bridge