version: "3.7"
services:
  metricq-python:
    image: metricq-python
    build:
      context: https://github.com/metricq/metricq-python.git

  metricq-manager:
    build:
      context: https://github.com/metricq/metricq-manager.git{% if manager %}#{{manager}}{% endif %}
    image: metricq-manager
    hostname: metricq
    command: --couchdb-url http://couchdb-server:5984 --couchdb-user admin --couchdb-password admin amqp://admin:admin@rabbitmq-server/ vhost:/

  metricq-cxx:
    build:
      context: https://github.com/metricq/metricq-cpp.git{% if cxx %}#{{cxx}}{% endif %}
    image: metricq-cxx

  couchdb-setup:
    build:
      context: ../docker/couchdb-setup/
    image: metricq-couchdb-setup